* {
    margin: 0;
    padding: 0;
}

html, body {
    font-weight: 400;
    font-family: Classic Round;
}

h1, h2, h3, h4, strong {
    font-family: Classic Round;
    font-weight: 700;
}

td, th {
    vertical-align: top;
}

blockquote {
    clear: both;
    font-style: italic;
    // font-size: 115%;
    text-align: justify;
    margin: 16px 16px 32px 16px;
    width: 85%;
}

blockquote cite {
    display: block;
    color: #666;
    font-style: normal;
    margin-top: 8px;
    &:before {
        content: "– ";
    }
}

blockquote:nth-child(2n) {
    float: right;
}

blockquote img {
    float: left;
    width: 64px;
    border-radius: 50%;
    margin: 0 8px 12px 0;
    border: 4px solid #cccccc;
}

.right {
    text-align: right;
}

.deco {
    height: 100px;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.deco div {
    background: $color-primary;
    height: 100px;
    position: absolute;
    left: -5px;
    top: -45px;
    transform: rotate(-1deg);
    width: 200%;
}

#title h1 {
    color: black;
}

.portrait .col1 {
    width: 42%;
}

.portrait .col2 {
    width: 58%;
}

.cell-01 {
    white-space: nowrap;
}
