@import "../../base/config/colors";
@import "../../base/mixins/clearfix";

footer {

    background: $color-section-03-bg;
    padding-bottom: 16px;
    margin-top: 16px;
    vertical-align: middle;
    position: relative;

    &:before {

        // temporary solution to avoid scrollbar
        background: $color-section-03-bg;
        content: "";
        display: block;
        position: absolute;
        top: -42px;
        right: 0;
        bottom: 42px;
        left: 0;
        transform: skewY(-1.25deg);
        min-height: 84px;
    }

    > :first-child {
        margin-top: -24px;
    }

    a {
        text-decoration: none;
        color: $color-primary;
        &:hover {
            color: $color-grey-100;
        }
    }

    img {
        height: 32px;
    }

}
